@model ANightsTaleUI.Models.ViewModels.Featpass

@{
    ViewData["Title"] = "Details";
}

<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />

</header>

<style>
body { background-image: url("http://www.goodwp.com/images/201104/goodwp.com_17479.jpg"); background-repeat: no-repeat }


    h1, p, .back {
        font-family: "IM Fell DW Pica SC";
        color: gold;
    }

    .links {
        font-family: "IM Fell DW Pica SC";
        color: gold;
        font-weight: bold;
    }

    .table {
        float: none;
        margin: 0 auto;
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod
    }

    .tag-name, .data-name {
        font-family: "IM Fell DW Pica SC";
    }

</style>

<h1>Details</h1>

<p>
    @Html.ActionLink("Add New Feat", "Create", new { id = Model.charID }, new { @class = "links" })
</p>
<table class="table">
    <thead>
        <tr>
            <th class="tag-name">
                @Html.DisplayNameFor(model => model.feats[0].Name)
            </th>
            <th class="tag-name">
                @Html.DisplayNameFor(model => model.feats[0].Description)
            </th>
            <th class="tag-name">
                @Html.DisplayNameFor(model => model.feats[0].StatTable)
            </th>
            <th class="tag-name">
                @Html.DisplayNameFor(model => model.feats[0].StatType)
            </th>
            <th class="tag-name">
                @Html.DisplayNameFor(model => model.feats[0].Mods)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.feats)
        {
            <tr>
                <td class="data-name">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="data-name">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="data-name">
                    @Html.DisplayFor(modelItem => item.StatTable)
                </td>
                <td class="data-name">
                    @Html.DisplayFor(modelItem => item.StatType)
                </td>
                <td class="data-name">
                    @Html.DisplayFor(modelItem => item.Mods)
                </td>
            </tr>
        }
    </tbody>
</table>
