@model ANightsTaleUI.Models.ViewModels.CharacterViewModel

@{
    ViewData["Title"] = "Details";
    var classId = Model.Character.Class;
}

<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />
</header>

<style>
    body {
        background-image: url("http://t.wallpaperweb.org/wallpaper/3d_landscape/1920x1080/3D_Fantasy_Places_HD_0019.jpg");
        background-repeat: no-repeat
    }

    .item {
        float: right;
        height: 400px;
        margin-left: 200px
    }

    h1, h4, .back {
        font-family: "IM Fell DW Pica SC";
        color: gold;
    }

    .links {
        font-family: "IM Fell DW Pica SC";
        color: green;
        margin: 20px;
        font-weight: bold;
        font-size: 20px
    }

    .row {
        float: none;
        margin: 0 auto;
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod
    }

    table {
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod;
    }

    #base {
        width: 100%
    }

    #skills1, #skills2 {
        width: 49%
    }

    #Attributes {
        width: 15%
    }

    #links {
        width: 32%
    }

    th {
        text-align: left;
    }

    .col-sm-2, .col-sm-10 {
        font-family: "IM Fell DW Pica SC";
    }

    .scroll {
        width: 37px;
        padding-right: 12px
    }

    .btn-create {
        background-color: forestgreen;
        font-family: "IM Fell DW Pica SC";
        margin-bottom: 10px
    }
</style>

<h1>Character Sheet</h1>

<div>
    <h4>Base Info</h4>
    <table id="base">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Character.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Character.Bio)</th>
            <th>@Html.DisplayNameFor(model => model.Character.Race)</th>
            <th>@Html.DisplayNameFor(model => model.Character.Class)</th>
            <th>@Html.DisplayNameFor(model => model.Character.Level)</th>
            <th>EXP</th>
            <th>@Html.DisplayNameFor(model => model.Character.CampaignName)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Character.Name)</td>
            <td>@Html.DisplayFor(model => model.Character.Bio)</td>
            <td>@Html.DisplayFor(model => model.Character.Race)</td>
            <td>@Html.DisplayFor(model => model.Character.Class)</td>
            <td>@Html.DisplayFor(model => model.Character.Level)</td>
            <td>@Html.DisplayFor(model => model.Character.Experience)</td>
            <td>@Html.DisplayFor(model => model.Character.CampaignName)</td>
        </tr>
    </table>
    <hr />
</div>

<div id="Attributes" style="display: inline-block">
    <h4>Attributes</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Str)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Str) (@Html.DisplayFor(model => model.Stats.STR_Mod))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Dex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Dex) (@Html.DisplayFor(model => model.Stats.DEX_Mod))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Con)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Con) (@Html.DisplayFor(model => model.Stats.CON_Mod))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Int)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Int) (@Html.DisplayFor(model => model.Stats.INT_Mod))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Wis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Wis) (@Html.DisplayFor(model => model.Stats.WIS_Mod))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Cha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Cha) (@Html.DisplayFor(model => model.Stats.CHA_Mod))
        </dd>
    </dl>
    <hr />
</div>

<div id="OtherInfo" style="display: inline-block">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.MaxHP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.MaxHP) (@Html.DisplayFor(model => model.Stats.HP))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stats.PB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stats.PB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stats.AC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stats.AC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stats.Gold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stats.Gold)
        </dd>
    </dl>

    <div>
        @if (classId.Equals("Barbarian"))
        {
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/342/420/618/636272680339895080.png" class="item">
        }
        else if (classId.Equals("Fighter"))
        {
            <img src="https://vignette.wikia.nocookie.net/villains/images/6/6b/Radi_Jaeger.png/revision/latest?cb=20130928132640" class="item">
        }
        else if (classId.Equals("Paladin"))
        {
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/365/420/618/636272701937419552.png" class="item">
        }
        else if (classId.Equals("Bard"))
        {
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/369/420/618/636272705936709430.png" class="item">
        }
        else if (classId.Equals("Sorcerer"))
        {
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/485/420/618/636274643818663058.png" class="item">
        }
        else if (classId.Equals("Cleric"))
        {
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/371/420/618/636272706155064423.png" class="item">
        }
        else if (classId.Equals("Druid"))
        {
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/346/420/618/636272691461725405.png" class="item">
        }
        else if (classId.Equals("Ranger"))
        {
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/367/420/618/636272702826438096.png" class="item">
        }
        else if (classId.Equals("Rogue"))
        {
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/384/420/618/636272820319276620.png" class="item">
        }
        else if (classId.Equals("Wizard"))
        {
            <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/357/420/618/636272696881281556.png" class="item">
        }
    </div>
</div>

<h4>Skills</h4>
<table id="skills1" style="display: inline-block">
    <tr>
        <th>Skill Name</th>
        <th>Skill Value</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Acrobatics):</td>
        <td>@Html.DisplayFor(model => model.Stats.Acrobatics)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.AnimalHandling):</td>
        <td>@Html.DisplayFor(model => model.Stats.AnimalHandling)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Arcana):</td>
        <td>@Html.DisplayFor(model => model.Stats.Arcana)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Athletics):</td>
        <td>@Html.DisplayFor(model => model.Stats.Athletics)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Deception):</td>
        <td>@Html.DisplayFor(model => model.Stats.Deception)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.History):</td>
        <td>@Html.DisplayFor(model => model.Stats.History)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Insight):</td>
        <td>@Html.DisplayFor(model => model.Stats.Insight)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Intimidation):</td>
        <td>@Html.DisplayFor(model => model.Stats.Intimidation)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Investigation):</td>
        <td>@Html.DisplayFor(model => model.Stats.Investigation)</td>
    </tr>
</table>

<table id="skills2" style="display: inline-block">
    <tr>
        <th>Skill Name</th>
        <th>Skill Value</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Medicine):</td>
        <td>@Html.DisplayFor(model => model.Stats.Medicine)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Nature):</td>
        <td>@Html.DisplayFor(model => model.Stats.Nature)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Perception):</td>
        <td>@Html.DisplayFor(model => model.Stats.Perception)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Performance):</td>
        <td>@Html.DisplayFor(model => model.Stats.Performance)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Persuasion):</td>
        <td>@Html.DisplayFor(model => model.Stats.Persuasion)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Religion):</td>
        <td>@Html.DisplayFor(model => model.Stats.Religion)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.SleightOfHand):</td>
        <td>@Html.DisplayFor(model => model.Stats.SleightOfHand)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Stealth):</td>
        <td>@Html.DisplayFor(model => model.Stats.Stealth)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Stats.Survival):</td>
        <td>@Html.DisplayFor(model => model.Stats.Survival)</td>
    </tr>
</table>

<div class="row" id="links">
     <dl>
         <dd class="data-name">
             @Html.ActionLink("Inventory", "GetInventory", new { id = Model.Character.CharacterID }, new { @class = "links" })
             @Html.ActionLink("Abilities", "GetAbilities", "CharAbility", new { id = Model.Character.CharacterID }, new { @class = "links" })
             @Html.ActionLink("Feats", "Details", "CharFeats", new { id = Model.Character.CharacterID }, new { @class = "links" })
         </dd>
    </dl>
</div>
