@model ANightsTaleUI.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CharacterID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CampaignID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RaceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RaceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Str)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Str)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Con)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Con)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Int)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Int)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxHP)
        </dd>
        <dd class="data-name">
            @Html.ActionLink("Inventory", "GetInventory", new { id = Model.CharacterID })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CharCampUsr">Back to List</a>
</div>
