@model ANightsTaleUI.Models.Character

@{
    ViewData["Title"] = "Details";
}

<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />

</header>

<style>
body { background-image: url("http://t.wallpaperweb.org/wallpaper/3d_landscape/1920x1080/3D_Fantasy_Places_HD_0019.jpg"); background-repeat: no-repeat }

    h1 {
        font-family: "IM Fell DW Pica SC";
        color: gold;
    }

    .row {
        float: none;
        margin: 0 auto;
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod
    }

    .col-sm-2, .col-sm-10 {
        font-family: "IM Fell DW Pica SC";
    }

    .scroll {
        width: 37px;
        padding-right: 12px
    }

    .btn-create {
        background-color: forestgreen;
        font-family: "IM Fell DW Pica SC";
        margin-bottom: 10px
    }
</style>

<h1>Character Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CampaignName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Str)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Str)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Con)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Con)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Int)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Int)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxHP)
        </dd>
        <dd class="data-name">
            @Html.ActionLink("Inventory", "GetInventory", new { id = Model.CharacterID })
        </dd>
        <dd class="data-name">
            @Html.ActionLink("Abilities", "GetAbilities", "CharAbility", new { id = Model.CharacterID })
        </dd>
        <dd class="data-name">
            @Html.ActionLink("Feats", "Details","CharFeats", new { id = Model.CharacterID })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CharCampUsr">Back to List</a>
</div>
