@model IEnumerable<ANightsTaleUI.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CharacterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Str)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Con)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Int)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxHP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Str)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Con)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Int)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxHP)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {  id=item.CharacterID }) 
            </td>
        </tr>
}
    </tbody>
</table>
