@model ANightsTaleUI.Models.Item

@{
    ViewData["Title"] = "Details";
}

<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />

</header>

<style>
body { background-image: url("https://wallpaperaccess.com/full/381037.jpg"); background-repeat: no-repeat }

    h2, .back {
        font-family: "IM Fell DW Pica SC";
        color: gold;
        margin-top: 20px
    }

    .col-sm-2, .col-sm-10 {
        font-family: "IM Fell DW Pica SC";
    }


    .row {
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod;
    }
</style>

<h2>Item Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumDice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumDice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumSides)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumSides)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mods)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Effects)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Effects)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="back">Back to List</a>
</div>
