@model ANightsTaleUI.Models.Abilities

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Abilities</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumSides)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumSides)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attack)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
